<div class="row">
    <div class="col-sm-12">
        <app-buscadormodel (busquedaEvent)="buscar($event)" [params]="params" [modelo]="modelo" ></app-buscadormodel>
    </div>
</div>
<table *ngIf="this.datos>0" class="table table-hover table-bordered table-sm table-responsive-sm">
            <thead class="thead-dark">
                <th>Nombre Completos</th>
                <th>Telefono</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <!-- Aca se deben servir los clientes -->
                <tr *ngFor = "let c of proveedores">
                    <td class="col-auto">{{c.nombre|titlecase}}</td>
                    <td *ngIf="c.telefono; else telefono">{{c.telefono}}</td>
                    <td>
                        <!-- Falta verificar el ancho de los cols al achicar la pantalla -->
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#agregarproveedor" (click)="verProveedor(c.id)" >
                                    <i class="fas fa-edit"></i> 
                                </button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#eliminarproveedor" (click)="verProveedor(c.id)" >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <ng-template #telefono><td>NO</td></ng-template>
                </tr>
            </tbody>
        </table>
        <nav *ngIf="this.datos>10" aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">
                <div class="fixed-bottom">
                    <app-pagination (paginationEvent)="paginarModelo(modelo, $event)" [prev]="prev" [next]="next" [modelo]="modelo" ></app-pagination>
                </div>
            </ul>
            <notifier-container></notifier-container>
        </nav>