<nav class="navbar navbar-expand-md navbar-dark bg-dark align-items-start d-md-block flex-row p-0">
    <a class="navbar-brand" href="#">
        <img class="m-1 rounded" src="../assets/img/brand.png" width="30" height="30" alt="">
        <span class="p-1">Moda Smartphone</span>
    </a>
    <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
        <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse sidebar justify-content-center">
        <ul class=" flex-column navbar-nav ">
            <div class="col-12 text-center text-white ">
                User Name <br>
                <small>Admin</small>
            </div>
            <div class="col-12 text-center py-1 ">
                <img class="img-fluid rounded-circle " width="50 " height="50 " src="../assets/img/person1.jpg " alt=" ">
            </div>
            <div class="col-12 text-center my-2 ">
                <div class="row justify-content-center ">
                    <div class="col-2 p-0 ">
                        <button class="btn btn-sm btn-info ">
                            <i class="fas fa-user-edit "></i>
                        </button>
                    </div>
                    <div class="col-2 p-0 ">
                        <button class="btn btn-sm btn-danger ">
                            <i class="fas fa-power-off "></i>
                        </button>
                    </div>
                </div>
            </div>

            <li class="nav-item ">
                <a class="nav-link " href="/clientes "><span class=" ">Clientes</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/proveedores "><span class=" ">Proveedores</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# "><span class=" ">Salidas a punto</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# "><span class=" ">Ventas</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#/productos"><span class=" ">Productos</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# "><span class=" ">Reportes</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href=" ">Compras</a>
            </li>
        </ul>
    </div>
</nav>