<div class="row">
    <div class="col-sm-12">
        <app-buscadormodel (busquedaEvent)="buscar($event)" [params]="params" [modelo]="modelo" ></app-buscadormodel>
    </div>
</div>
<div class="row">
    <div class="col-12">
            <table *ngIf="this.datos>0" class="table table-hover table-bordered table-sm table-responsive-sm">
                <thead class="thead-light">
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <!-- Aca se deben servir los clientes -->
                    <tr *ngFor = "let c of lista">
                        <td class="col-auto">{{c.nombre|titlecase}}</td>
                        <td>
                            <!-- Falta verificar el ancho de los cols al achicar la pantalla -->
                            <div class="row">
                                <div class="col-3">
                                    <a class="btn btn-success" routerLink='/productos/marcas/editar/{{c.id}}' >
                                        <i class="fas fa-edit"></i> 
                                    </a>
                                </div>
                                
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <a class="btn btn-danger" routerLink='/productos/marcas/eliminar/{{c.id}}' >
                                        <i class="fas fa-trash-alt"></i> 
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<nav *ngIf="this.datos>10" aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
        <div class="fixed-bottom">
            <app-pagination (paginationEvent)="paginarModelo(modelo, $event)" [prev]="prev" [next]="next" [modelo]="modelo" ></app-pagination>
        </div>
    </ul>
    <notifier-container></notifier-container>
</nav>