<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="grupos-tab" data-toggle="tab" href="#grupos" role="tab" aria-controls="grupos" aria-selected="true">Grupos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="categorias-tab" data-toggle="tab" href="#categorias" role="tab" aria-controls="categorias" aria-selected="false">Categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="marcas-tab" data-toggle="tab" href="#marcas" role="tab" aria-controls="marcas" aria-selected="false">Marcas</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="grupos" role="tabpanel" aria-labelledby="grupos-tab">
    <app-grupos></app-grupos>
  </div>
  <div class="tab-pane fade" id="categorias" role="tabpanel" aria-labelledby="categorias-tab">
    <app-categorias></app-categorias>
  </div>
  <div class="tab-pane fade" id="marcas" role="tabpanel" aria-labelledby="marcas-tab">
    <app-marcas></app-marcas>
  </div>
</div>