<div class="row justify-content-center"> 
     <div class="col-12">
        <!-- Cabecera del formulario clientes -->
        <div class="row pb-2 pt-1">
            <div class="col-auto align-self-center">
                <h2 class="text-uppercase">Clientes</h2>
            </div>
        </div> 
        <div class="row bg-light">
            <div class="col-12">
                <ul class="nav nav-pills pt-2 pb-2">
                <li class="nav-item">
                    <a class="nav-link" routerLink='agregar' routerLinkActive="active">Agregar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='ver' routerLinkActive="active">Lista</a>
                </li>
                </ul>
            </div>
        </div>
        </div>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
    <notifier-container></notifier-container>
</div>