<div class="row justify-content-center">
    <!-- 
        la funcionalidad de editar cliente se debe hacer con el mismo modal de agregar
        la funcion de eliminar se debe hacer con un cuadrio de dialgo y una confirmacion
     -->
     <div class="col-12">
        <!-- Cabecera del formulario clientes -->
        <div class="row pb-2 pt-1">
            <div class="col-auto align-self-center">
                <h2 class="text-uppercase">Clientes</h2>
            </div>
            <div class="col-auto p-1 align-content-center" data-toggle="tooltip" data-placement="bottom" title="Agregar nuevo Cliente">
                <button class="btn btn-sm btn-primary rounded" data-toggle="modal" data-target="#agregarcliente" (click) = "agregarCliente()" >
                    <i class="fas fa-plus">
                        <span class="span-sm"></span>
                    </i>
                </button>
            </div>
            <!-- <div class="col-auto p-1 align-content-center" data-toggle="tooltip" data-placement="bottom" title="Buscar Clientes">
                <button class="btn btn-sm btn-success rounded" data-toggle="modal" data-target="#buscarcliente"><i class="fas fa-search"></i></button>
            </div> -->
            <!-- MODAL AGREGAR CLIENTE -->
            <div class="modal fade" id="agregarcliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-light">
                            <h5 class="modal-title" id="exampleModalLabel">{{accion}} Cliente</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        </div>
                        <div class="modal-body">
                            <div class="containter-fluid">
                                <form action="">
                                    <div class="form-group row">
                                        <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
                                        <div class="col-sm-10">
                                            <input type="text" [(ngModel)]="cliente.nombre" class="form-control" id="nombre" name="nombre"  placeholder="Nombre del cliente" value={{cliente.nombre}}>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="telefono" class="col-sm-2 col-form-label">Télefono:</label>
                                        <div class="col-sm-6">
                                            <input type="number" [(ngModel)]="cliente.telefono" class="form-control" id="telefono" name="telefono" placeholder="Número de celular" value={{cliente.telefono}}>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="dni" class="col-sm-2 col-form-label">DNI:</label>
                                        <div class="col-sm-6">
                                            <input type="number" [(ngModel)]="cliente.dni" class="form-control" id="dni" name="dni" placeholder="Número de dni" value={{cliente.dni}}>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="sexo">Sexo:</label>
                                         <div class="col-6">
                                            <select class="form-control" name="sexo" id="sexo" [(ngModel)]="cliente.sexo">
                                                <option value="true">Hombre</option>
                                                <option value="false">Mujer</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <div class=" form-check form-check-inline">
                                                <input class="form-control" id="mayorista" name="mayorista" type="checkbox" [(ngModel)]="cliente.mayorista" [checked]="cliente.mayorista" aria-label="verificar si es mayorista">
                                                <label for="">¿Es mayorista?</label>
                                            </div>
                                          </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer bg-light">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" (click)="actualizarCliente()" data-dismiss="modal" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN -->

            <!-- MODAL BUSCAR CLIENTE -->
            <div class="modal fade" id="buscarcliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-light">
                            <h5 class="modal-title" id="exampleModalLabel">Buscar Cliente</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        </div>
                        <div class="modal-body">
                            <div class="containter-fluid">
                                <form action="">
                                    <div class="form-group row">
                                        <label for="nombre" class="col-sm-2 col-form-label">Buscar:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="nombre" placeholder="Ingrese texto">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer bg-light">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN -->
        </div>
        <div class="row p-3">
            <div class="input-group">
                <input autofocus id="txtbuscar" type="text" class="form-control" placeholder="Ingrese texto a buscar">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Tabla clientes -->
        <table *ngIf="this.datos>0" class="table table-hover table-bordered table-sm table-responsive-sm">
            <thead class="thead-dark">
                <th>Nombre</th>
                <th>Telefono</th>
                <th>DNI</th>
                <th>Sexo</th>
                <th>Mayorista</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <!-- Aca se deben servir los clientes -->
                <tr *ngFor = "let c of clientes">
                    <td class="col-auto">{{c.nombre|titlecase}}</td>
                    <td *ngIf="c.telefono; else telefono">{{c.telefono}}</td>
                    <td *ngIf="c.dni; else dni">{{c.dni}}</td>
                    <td *ngIf="c.sexo; else sexo">Hombre</td>
                    <td *ngIf="c.mayorista; else mayorista">SI</td>
                    <td>
                        <!-- Falta verificar el ancho de los cols al achicar la pantalla -->
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#agregarcliente" (click)="verCliente(c.id)" >

                                    <i class="fas fa-edit"></i> 
                                </button>
                                <!-- <a  (click)="verCliente()" class="btn-sm btn-success" href="{{baseurl}}{{c.id}}">
                                    <i class="fas fa-edit">Editar</i>
                                </a> -->
                            </div>
                            <div class="col-3">
                                <a class="btn-sm btn-danger" href="">
                                    <i class="fas fa-trash-alt">Eliminar</i>
                                </a>
                            </div>
                        </div>
                        
                    </td>
                    <ng-template #mayorista><td>NO</td></ng-template>
                    <ng-template #dni><td>NO</td></ng-template>
                    <ng-template #sexo><td>Mujer</td></ng-template>
                    <ng-template #telefono><td>NO</td></ng-template>
                </tr>
            </tbody>
        </table>
        <!-- div para cuando no hay clientes -->
        <div *ngIf="!this.datos" class="col danger">
            <!-- hacer un card para cuando no hayan registros -->
            nada para mostrar 
        </div>
        <!-- Paginacion -->
        <nav *ngIf="this.datos>10" aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
        </nav>
        <div class="col-6">
            <notifier-container></notifier-container>
        </div>
    </div>
</div>