<div class="row justify-content-center"> 
     <div class="col-12">
        <!-- Cabecera del formulario -->
        <div class="row pb-2 pt-1">
            <div class="col-auto align-self-center">
                <h2 class="text-uppercase">Modelos</h2>
            </div>
        </div> 
        <div class="row bg-light">
            <div class="col-12">
                <ul class="nav nav-pills pt-2 pb-2">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/productos/modelos/agregar' routerLinkActive="active">Agregar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/productos/modelos/ver' routerLinkActive="active">Lista</a>
                </li>
                </ul>
            </div>
        </div>
        </div>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
    <notifier-container></notifier-container>
</div>
<!-- 
<div class="row">
    <div class="col-sm-12">
        <app-buscadormodel (busquedaEvent)="buscar($event)" [params]="params" [modelo]="modelo" ></app-buscadormodel>
    </div>
</div>
<div class="row">
    <div class="col-12">
            <table *ngIf="this.datos>0" class="table table-hover table-bordered table-sm table-responsive-sm">
                <thead class="thead-light">
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Detalles</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor = "let c of lista">
                        <td class="col-auto">{{c.nombre|titlecase}}</td>
                        <td class="col-auto">{{c.marca_nombre|titlecase}}</td>
                        <td class="col-auto">{{c.extendido|titlecase}}</td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <a class="btn btn-success" routerLink='/productos/modelos/editar/{{c.id}}' >
                                        <i class="fas fa-edit"></i> 
                                    </a>
                                </div>
                                
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <a class="btn btn-danger" routerLink='/productos/modelos/eliminar/{{c.id}}' >
                                        <i class="fas fa-trash-alt"></i> 
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<nav *ngIf="this.datos>10" aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
        <div class="fixed-bottom">
            <app-pagination (paginationEvent)="paginarModelo(modelo, $event)" [prev]="prev" [next]="next" [modelo]="modelo" ></app-pagination>
        </div>
    </ul>
    <notifier-container></notifier-container>
</nav>
         <div class="modal hide fade" id="agregarmodelo" tabindex="-1" aria-hidden="true" data-focus-on="input:first">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-light">
                        <h5 class="modal-title" id="exampleModalLabel">{{accion}} Modelo</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="containter-fluid">
                            <form action="">
                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-tabindex="1" [(ngModel)]="modelomodelo.nombre" class="form-control" id="nombre" name="nombre"  
                                        placeholder="Nombre del modelo" value={{modelomodelo.nombre}} autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="marca" class="col-form-label col-sm-2">Marca:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="hidden" [(ngModel)]="modelomodelo.marca" name="id_marca">
                                            <input type="text" class="form-control" id="marca" name="marca" [(ngModel)]="modelomodelo.marca_nombre"
                                            placeholder="Nombre de la marca" readonly value={{modelomodelo.marca_nombre}} aria-describedby="seleccionarcategoria">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" type="button" id="seleccionarcategoria" data-toggle="modal" href="#seleccionarmarca">
                                                    <i class="fas fa-search">
                                                        <span class="span-sm"></span>
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                        <label for="extendido" class="col-sm-2 col-form-label">Extendido:</label>
                                        <div class="col-sm-10">
                                            <input type="text" [(ngModel)]="modelomodelo.extendido" class="form-control" id="extendido" name="nombre"  
                                            placeholder="Nombre extendido" value={{modelomodelo.extendido}} autocomplete="off">
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" (click)="seleccionarAccion()" data-dismiss="modal" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal hide fade" id="seleccionarmarca" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Seleccionar Marca</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" (keyup)="buscarMarcas()" [(ngModel)]="marca_search" class="form-control" name="marca" id="">
                        </div>
                        <div class="form-group">
                            <select (change)="pasarMarca($event)" class="form-control" name="marcas" size=4 id="marcas">
                                <option value={{marca.id}} *ngFor="let marca of marcas; index as i">{{marca.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="noMarca()" >Cancelar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" >Seleccionar</button>
                    </div>
                    </div>
                </div>
            </div>
        <div class="row p-3">
            <div class="input-group">
                <input autofocus (keyup)="buscarModelos(term)" id="txtbuscar" [(ngModel)]="term" type="text" class="form-control" placeholder="Ingrese texto a buscar">
                <div class="input-group-append">
                    <select class="form-control" name="params" id="params" [(ngModel)]="params">
                        <option value='?nombre__icontains=' selected="selected" >Nombre</option>
                        <option value='?marca__nombre__icontains=' selected="selected" >Marca</option>
                    </select>
                </div>
            </div>
        </div>
        <table *ngIf="this.datos>0" class="table table-hover table-bordered table-sm table-responsive-sm">
            <thead class="thead-dark">
                <th>Nombre</th>
                <th>Marca</th>
                <th>Detalles</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr *ngFor = "let c of modelos">
                    <td class="col-auto">{{c.nombre|titlecase}}</td>
                    <td class="col-auto">{{c.marca_nombre|titlecase}}</td>
                    <td class="col-auto">{{c.extendido|titlecase}}</td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#agregarmodelo" (click)="verModelo(c.id)" >
                                    <i class="fas fa-edit"></i> 
                                </button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#eliminarmodelo" (click)="verModelo(c.id)" >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> -->
