<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid ">
    <div class="row wrapper">
        <aside class="col-sm-12 col-md-auto d-inline-block p-0 bg-dark menu">
            <app-navbar-user></app-navbar-user>
        </aside>
        <main class="col d-inline-block bg-white shadow">
            <div class="row justify-content-center">

                <div class="col-12">
                    <div class="row pb-4 pt-1">
                        <div class="col-auto align-self-center">
                            <h2 class="text-uppercase">Clientes</h2>
                        </div>
                        <div class="col-auto p-1 align-content-center">
                            <button class="btn btn-sm btn-success rounded-circle"><i class="fas fa-plus"></i></button>
                        </div>
                        <div class="col-auto p-1 align-content-center">
                            <button class="btn btn-sm btn-success rounded-circle "><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered table-sm table-responsive-sm">
                        <thead class="thead-dark">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>DNI</th>
                            <th>Sexo</th>
                            <th>Acción</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Jhon Doe</td>
                                <td>990012345</td>
                                <td>03678291</td>
                                <td>Hombre</td>
                                <td class="">
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Pepito Perez</td>
                                <td>992812028</td>
                                <td>40201786</td>
                                <td>Hombre</td>
                                <td>
                                    <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i></a>
                                    <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <div class="col-sm-12 col-lg-2 menu text-info border-white border-left" style="overflow-y:scroll;">
            <div class="row">
                <h5 class="pt-2 pl-1 pb-3">HISTORIAL</h5>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-auto ">
                    <img class="img-fluid rounded" width="40" height="40" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"><a href="">Busqueda Cliente</a> </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"> <a href="">Venta</a> </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"><a href="">Busqueda Cliente</a> </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"> <a href="">Venta</a> </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"><a href="">Busqueda Cliente</a> </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"> <a href="">Venta</a> </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span><br>
                    <small class="text-secondary"><a href="">Busqueda Cliente</a> </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"> <a href="">Venta</a> </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>