<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid ">
    <div class="row wrapper">
        <aside class="col-sm-12 col-md-auto d-inline-block p-0 bg-dark menu">
            <app-navbar-user></app-navbar-user>
        </aside>
        <main class="col d-inline-block bg-white shadow">
            <!-- Solo para pruebas luego se usara rutas -->
            <!-- <app-clientes></app-clientes> -->
            <app-categorias></app-categorias>
        </main>
        <div class="col-sm-12 col-lg-2 menu text-info border-white border-left" style="overflow-y:scroll;">
            <div class="row">
                <h5 class="pt-2 pl-1 pb-3">HISTORIAL</h5>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-auto ">
                    <img class="img-fluid rounded" width="40" height="40" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"><a href="">Busqueda Cliente</a> </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"> <a href="">Venta</a> </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"><a href="">Busqueda Cliente</a> </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"> <a href="">Venta</a> </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"><a href="">Busqueda Cliente</a> </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary"> <a href="">Venta</a> </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span><br>
                    <small class="text-secondary">
                        <a href="" class="btn btn-sm btn-dark">Busqueda Cliente</a>
                    </small><br>
                    <small class="text-secondary">Valor: cliente normal</small>
                </div>
                <hr>
            </div>
            <div class="row border border-top-0 align-items-center">
                <div class="col-4 ">
                    <img class="img-fluid rounded" width="50" height="50" src="../assets/img/person1.jpg" alt="">
                </div>
                <div class="col-8 pl-0">
                    <span class="text-dark"> Reddington Red </span> <br>
                    <small class="text-secondary">
                        <a href="" class="btn btn-sm btn-dark">Venta</a>
                    </small><br>
                    <small class="text-secondary"> 241018-002 </small>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>