<div class="container mt-3">
    <div *ngIf="this.id" class="alert alert-warning sticky-top">
        Editando...
    </div>
    <form action="">
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="dato.nombre" class="form-control" id="nombre" name="nombre"  
                placeholder="Nombre del cliente" value={{dato.nombre}} autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Fecha nacimiento:</label>
                <div class="col-sm-4">
                    <input type="date" [(ngModel)]="dato.nacimiento" class="form-control" id="nacimiento" name="nacimiento"  
                    value={{dato.nacimiento}} autocomplete="off">
                </div>
            </div>
        <div class="form-group row">
            <label for="telefono" class="col-sm-2 col-form-label">Télefono:</label>
            <div class="col-sm-4">
                <input type="text" [(ngModel)]="dato.telefono" class="form-control" id="telefono" name="telefono"
                placeholder="Número de celular" value={{dato.telefono}} mask="000000000" autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <label for="dni" class="col-sm-2 col-form-label">DNI:</label>
            <div class="col-sm-4">
                <input type="text" [(ngModel)]="dato.dni" class="form-control" id="dni" name="dni" 
                placeholder="Número de dni" value={{dato.dni}} mask="00000000" autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="sexo">Sexo:</label>
            <div class="col-sm-4">
                <select class="form-control" name="sexo" id="sexo" [(ngModel)]="dato.sexo">
                    <option value="true">Hombre</option>
                    <option value="false" >Mujer</option>
                </select>
                
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class=" form-check form-check-inline">
                    <input class="form-control" id="mayorista" name="mayorista" type="checkbox" [(ngModel)]="dato.mayorista" [checked]="dato.mayorista" aria-label="verificar si es mayorista">
                    <label for="mayorista">¿Es mayorista?</label>
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-sm-end">
            <div class="col-sm-3 col-lg-2">
                <button (click)="accion()" class="btn btn-success btn-block">Guardar</button>
            </div>
        </div>
    </form>
</div>