<div class="row justify-content-center bg-light">
     <div class="col-12">
      <ul class="nav nav-pills pt-2 pb-2">
        <li class="nav-item">
          <a class="nav-link" routerLink='categorias' routerLinkActive="active">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='marcas' routerLinkActive="active">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='modelos' routerLinkActive="active">Modelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='precios' routerLinkActive="active">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='productos' routerLinkActive="active">Productos</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <router-outlet></router-outlet>
  </div>
</div>