<div class="row justify-content-center">
  <div class="row pb-4 pt-1">
    <div class="col-auto align-self-center">
        <h2 class="text-uppercase">marcas</h2>
    </div>
    <div class="col-auto p-1 align-content-center" data-toggle="tooltip" data-placement="bottom" title="Agregar nueva marca">
        <button class="btn btn-sm btn-success rounded" data-toggle="modal" data-target="#agregarcliente"><i class="fas fa-plus"></i></button>
    </div>
    <div class="col-auto p-1 align-content-center" data-toggle="tooltip" data-placement="bottom" title="Buscar Marcas">
        <button class="btn btn-sm btn-success rounded" data-toggle="modal" data-target="#buscarcliente"><i class="fas fa-search"></i></button>
    </div>
    <!-- MODAL AGREGAR MARCAS -->
    <div class="modal fade" id="agregarcliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Marca</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="containter-fluid">
                        <form action="">
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nombre" placeholder="Nombre de marca">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN -->

    <!-- MODAL BUSCAR MARCAS -->
    <div class="modal fade" id="buscarcliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Marca</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="containter-fluid">
                        <form action="">
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">Buscar:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese texto">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN -->
</div>
<table class="table table-hover table-bordered table-sm table-responsive-sm">
    <thead class="thead-dark">
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td>Samsung</td>
        <td>
          <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i>Editar</a>
          <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i>Eliminar</a>
        </td>
      </tr>
      <tr>
        <td>02</td>
        <td>Huawei</td>
        <td>
          <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i>Editar</a>
          <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i>Eliminar</a>
        </td>
      </tr>
      <tr>
        <td>02</td>
        <td>Apple</td>
        <td>
          <a class="p-2 badge badge-info" href=""><i class="far fa-edit"></i>Editar</a>
          <a class="p-2 badge badge-danger" href=""><i class="far fa-trash-alt"></i>Eliminar</a>
        </td>
      </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>
</div>
